<section class="ofertas-hero-carousel">

  <div class="carousel">

    <button class="carousel__btn prev" type="button">‹</button>

    <div class="carousel__track">

      <article class="carousel__card">
        <img src="/img/pcescritorio.jpeg" alt="PC Gamer en Oferta">

        <div class="carousel__overlay">
          <h3>PC Gamer Escritorio</h3>
          <p class="price">L 19,999</p>
        </div>
      </article>

      <article class="carousel__card">
        <img src="/img/proyector.jpeg" alt="Proyector en oferta">

        <div class="carousel__overlay">
          <h3>Proyector Epson</h3>
          <p class="price">L 7,553</p>
        </div>
      </article>

      <article class="carousel__card">
        <img src="/img/monitor.jpeg" alt="Monitor curvo">

        <div class="carousel__overlay">
          <h3>Monitor Curvo</h3>
          <p class="price">L 1,230</p>
        </div>
      </article>

    </div>

    <button class="carousel__btn next" type="button">›</button>

  </div>

</section>