<header class="site-header">
    <div class="container header-content">
        <a class="brand" href="index.html">
            <img 
                src="/img/logo.png"
                alt="Logo de Siscomp Technology"
                class="logo-img"
                width="120"
            />
            <span class="brand-text">
                <strong>Siscomp Technology</strong>
                <small>Tecnología y soporte técnico</small>
            </span>
        </a>

        <nav class="main-nav">
            <a href="index.html">Inicio</a>
            <a href="catalogo.html">Catalogo</a>
            <a href="acerca.html">Acerca de Nosotros</a>
            <a href="galeria.html">Galeria</a>
            <a href="catalogo.html">Catalogo</a>
            <a href="contacto.html">Contáctenos</a>
            <a href="faq.html">FAQ</a>
            <a href="login.html">Login</a>
            <a href="blog.html">Blog - Noticias</a>
        </nav>
    </div>
</header>
  </div>
</header>