<section class="ofertas-hero">
  <div class="ofertas-hero__content">
    <span class="ofertas-hero__tag">Ofertas especiales</span>

    <h1 class="ofertas-hero__title">
      Promociones en tecnología
    </h1>

    <p class="ofertas-hero__desc">
      Encuentra descuentos en impresoras, PCs, mouses, cámaras, micrófonos etc.
      Aprovecha nuestras temporadas como Back to School, Black Friday y liquidaciones.
    </p>
  </div>
</section>